body {
  background-color:#EAF2F8 
  
  }

  .section{
      width: 60%;
      height:400px;
      background-color:white;
      margin:auto;
      margin-top: 150px;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    
    }
  .image{
      width:300px;
      height:399px;
      float: right;
      margin-right:-20px;
    }
    .image1{
      width:70px;
      height:20px;
      margin-top:35px;
      float: right;
      margin-right:380px;
  
    }
    .image2{
      width:530px;
      height:300px;
      float: left;
      margin-top:-300px;
      padding-right:650px;

  
    }

    .title
    {
        font-size: 50px;
        text-align: left;
        padding:100px;
        font-family: 'Decorative';
        color:hsl(0, 36%, 70%);
        margin-top: 100px;
        margin-left:-20px;
      
    }
    .titleone
    {
        font-size: 50px;
        font-family: 'Comic Sans';
        color:hsl(0, 0%, 5%);
        padding: 50px;
        margin-top:-190px;
        margin-left:35px;
        
  
      
    }
    .titlesecond 
    {
        font-size: 10px;
        font-family: Arial;
        color:hsl(0, 36%, 70%);
        margin-top:-80px;
        margin-left:90px;
        letter-spacing:2px;
        line-height:11pt;  
  
    }
    .mail {
      position: relative;
      top:30px;
      left:110px;
    }

    .email {
      padding: 10px;
      border-radius: 20px 0 0 20px;
      border: 1px solid #3f3e3e;
    }
  
    .button {
      position: relative;
      left: -20px;
      font-size: 13px;
      width:70px;
      padding: 12px;
      background-color: hsl(0, 36%, 70%);
      color: #fff;
      border: none;
      border-radius: 20px 20px 20px 20px;
    }